<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/wchojnackiexamplemenu/css/styles.css') }}" />
    </head>
    <body>
    <a href="{{ path('menu') }}">admin</a>
        {{ knp_menu_render('WchojnackiExampleMenuBundle:Builder:mainMenu') }}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ tinymce_init() }}
    </body>
</html>

